<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beats for Sale</title>
    <script>var _gaq=[['_setAccount','UA-20257902-1'],['_trackPageview']];(function(d,t){ var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
    <script src="./audiojs/audio.min.js"></script>
    <link rel="stylesheet" href="./includes/index.css" media="screen">
    <script>
      <!--hide

      var password;

      var pass1="cool";

      password=prompt('Please enter your password to view this page!',' ');

      if (password==pass1)
        alert('Password Correct! Click OK to enter!');
      else
         {
          window.location="http://www.pageresource.com/jscript/jpass.htm";
          }

      //-->
      audiojs.events.ready(function() {
        audiojs.createAll();
      });
    </script>
  </head>
  <body>
    <header>
      <h1>Beats</h1>
    </header>

    <h2>Anarchy</h2>
  <audio src="Anarchy.mp3" type="audio/mpeg"></audio>
    <!-- Anarchy -->

    <h2>Crackers</h2>
  <audio src="" type="audio/mpeg"></audio>
    <!-- Crackers -->

    <h2>Dark Times</h2>
  <audio src="" type="audio/mpeg"></audio>
    <!-- Dark Times -->

    <h2>Filter Deez Nuts</h2>
  <audio src="" type="audio/mpeg"></audio>
    <!-- Filter Deez Nuts -->

    <h2>Honor</h2>
  <audio src="" type="audio/mpeg"></audio>
    <!-- Honor -->

    <h2>Out the Way</h2>
  <audio src="" type="audio/mpeg"></audio>
    <!-- Out the Way -->

    <h2>The Way it is</h2>
  <audio src="" type="audio/mpeg"></audio>
    <!-- The Way it is-->

    <h2>Valley of Ghosts</h2>
  <audio src="" type="audio/mpeg"></audio>
    <!-- Valley of Ghosts -->

 
  </body>
</html>
