{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="barrelcacti">

	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Barrel Cacti</a>
			</div>

			<!-- Collect the nav links  for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from story link when scrolled up past about section -->
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#discography">Discography</a>
					</li>

					<li>
						<a class="page-scroll" href="#story">BC3</a>
					</li>
					<li>
						<a class="page-scroll" href="#About">About</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Intro Header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading">Barrel Cacti</h1>
						<a href="#story" class="btn btn-circle page-scroll">
							<i class="fa fa-play animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<!-- Discography Section -->
	<section id="discography" class="content-section text-center" ng-controller="discographyController">
		<div class="discography-section">
			<div class="container">
				{% for album in albums %}
				<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#albumModal{{ forloop.counter }}" class="album-link" data-toggle="modal">
                        <div class="album-hover">
                            <div class="album-hover-content">
                                <i class="fa fa-play fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/albums/{{ album.title }}/{{ album.img }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ album.title }}</h4>
                        <p class="text-muted">{{ album.description }}</p>
                    </div>
                </div>
				{% endfor %}
			</div>
		</div>
	</section>

	<!-- Discography Modals -->
	{% for album in albums %}
	<div class="album-modal modal fade" id="albumModal {{ forloop.counter }}" tabindex="-1" role="dialog" 
			aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Track list -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
	<!-- Story Section -->
	<section id="story" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>BC3</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
			</div>
		</div>
	</section>

	<!-- About section -->
	<section id="About" class="container content-section text-center">
		<div class="row">

		</div>
	</section>

	<!-- Gallery Section -->
	<section id="Gallery" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Gallery</h2>
				<p>We'll put some pictures here eventually</p>
			</p>
			<ul class="list-inline banner-social-buttons">
				<li>
					<a href="https://www.facebook.com/profile.php?id=100008294269104" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
				</li>
				<li>
					<a href="https://github.com/jmankhan" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
				</li>
			</ul>
		</div>
	</div>
</section>
</body>
<!-- Footer -->
<footer>
	<div class="container text-center">
		<p>Copyright Barrely Cacti &copy; 2016</p>
		<p>Created by Jalal Khan</p>
	</div>
</footer>
{% endblock %}
